.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account {
  display: flex;
  align-items: center;
}

.account-forum {
  margin-right: 10px;
}