.craft-item {
  width: 45%;
  height: 150px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
  cursor: pointer;
  overflow: hidden;
}
.craft-item__image {
  width: 40%;
  margin: 5px 0 5px 5px;
}
.craft-item__image img {
  width: 70%;
  height: 100%;
  object-fit: contain;
}
.craft-item__discription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px 0 ;
}
.craft-item__discription span {
  font-size: 13px
}
.craft-item:hover {
  transition: all 0.5s ease-out;
  transform: scale(1.05)
}